<mat-table [dataSource]="data">
  <!-- Cabeceras de la tabla -->
  <ng-container matColumnDef="column1">
    <mat-header-cell *matHeaderCellDef>Column 1</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="column2">
    <mat-header-cell *matHeaderCellDef>Column 2</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.column2 }}</mat-cell>
  </ng-container>

  <!-- Definiciones de las filas -->
  <mat-header-row *matHeaderRowDef="['column1']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['column1']"></mat-row>
</mat-table>
